{{ $page := . }}
{{ $isNewest := .Scratch.Get "isNewest" }}

<a class="card bg-base-100 hover:bg-base-content/10 shadow-xl cursor-pointer dark:border dark:border-base-content/30{{ if $isNewest }} post-latest-card{{ end }}" href="{{ $page.RelPermalink }}">
  {{ if $isNewest }}
  <div class="post-latest-bar">
    <span class="post-latest-label">Latest Post</span>
  </div>
  {{ end }}

  {{ if $page.Params.cover }}
  <figure>
    {{ with $page.Resources.Get $page.Params.cover }}
    {{ if eq .MediaType.SubType "svg" }}
      <img src="{{ .RelPermalink }}" alt="{{ $page.Title }}" />
    {{ else }}
      {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
      <picture>
        <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
        <img src="{{ .RelPermalink }}" alt="{{ $page.Title }}" />
      </picture>
    {{ end }}
    {{ else }}
    <img src="{{ $page.Params.cover }}" alt="{{ $page.Title }}" />
    {{ end }}
  </figure>
  {{ else if not site.Params.noDefaultSummaryCover }}
  <figure>
    {{ with resources.Get (printf "images/default%d.jpg" (index (seq 4 | shuffle) 0)) }}
    {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
    <picture>
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
      <img src="{{ .RelPermalink }}" alt="{{ $page.Title }}" />
    </picture>
    {{ end }}
  </figure>
  {{ end }}

  <div class="card-body">
    <h2 class="card-title">{{ $page.Title }}</h2>

    <p class="date text-base-content/60">
    {{ if site.Params.Experimental.jsDate }}
      <span data-format="luxon">{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
    {{ else }}
      {{ $page.Date | time.Format "Monday, Jan 2, 2006" }}
    {{ end }}
    </p>

    {{ or $page.Description ($page.Summary | emojify | safeHTML) }}

    <div class="card-actions justify-end items-center mt-4">
      <div class="flex items-center">
        <ion-icon name="time" class="mr-1"></ion-icon>
        <span>{{ $page.ReadingTime }}{{ T "minuteRead" $page.ReadingTime }}</span>
      </div>
    </div>
  </div>
</a>
